# Auto detect text files and perform LF normalization
* text=auto

# Ignore files for export and archive purposes
.clang-format            export-ignore
.git-blame-ignore-refs   export-ignore
.gitattributes           export-ignore
.github                  export-ignore
.gitignore               export-ignore
.gitmodules              export-ignore
